$border-color-grey: #cfcfcf;
$column-min-width: 80px;
$first-column-min-width: 30px;
$event-border-radius: 4px;

.ui-shifter-calendar {
  display: block;

  & table {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
    table-layout: auto;
    &.shadow {
      -webkit-box-shadow: 4px 4px 12px -4px $border-color-grey;
      box-shadow: 4px 4px 12px -4px $border-color-grey;
    }
  }

  & table.ui-shifter-calendar-week-wrapper {
    & thead > tr {
      & > th {
        padding: 4px 30px;
        border: 1px solid $border-color-grey;
        font-weight: normal;
        min-width: $column-min-width;

        &:first-child {
          padding: 4px 0;
          border-top: none;
          border-left: none;
          border-bottom: none;
          min-width: $first-column-min-width;
        }
      }

      &.subhead > th {
        //font-weight: lighter;
        font-size: 0.8em;
        border-top: none;
        border-left: none;
      }
    }

    & tbody > tr {
      & .booking {
        &:hover {
          background: #c80000;
        }
        cursor: pointer;
        position: absolute;
        width: 70px;
        height: 60px;
        display: block;
        background: #ff0000;
        border-radius: $event-border-radius;
        border: 1px solid #c80000;
        opacity: .8;
        transition: background .3s ease .0s;
        & span {
          font-size: x-small;
          padding-left: 5px;
          color: #fff;
        }
        &.cutTop {
          border-radius: 0 0 $event-border-radius $event-border-radius;
          border-top: none;
        }
        &.cutBottom {
          border-radius: $event-border-radius $event-border-radius 0 0;
          border-bottom: none;
        }
      }

      & > td {
        border: 1px solid $border-color-grey;
        font-weight: normal;
        font-size: small;
        min-width: $column-min-width;
        vertical-align: top;
        height: 15px;

        &:first-child {
          padding: 4px 6px;
          font-weight: lighter;
          text-align: right;
          min-width: $first-column-min-width;
        }
      }

      &.first-half-hour > td {
        border-bottom-style: dotted;
      }

      &.second-half-hour > td {
        border-top-style: dotted;
      }
    }
  }
}