$border-color-grey: #cfcfcf;
$outer-table-border-color: #9e9c9c;
$first-column-fixed-width: 43px;
$event-border-radius: 4px;

.ui-shifter-calendar {
  display: block;

  & table {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
    table-layout: fixed;
    border: 3px solid $outer-table-border-color;
    &.shadow {
      -webkit-box-shadow: 4px 4px 12px -4px $border-color-grey;
      box-shadow: 4px 4px 12px -4px $border-color-grey;
      border: none;
    }
  }

  & table.ui-shifter-calendar-week-wrapper {
    & thead > tr {
      & > th {
        border: 1px solid $border-color-grey;
        font-weight: bold;
        text-align: center;

        &:first-child {
          padding: 4px 0;
          border-top: none;
          border-left: none;
          border-bottom: none;
          width: $first-column-fixed-width;
        }
      }

      &.subhead > th {
        //font-weight: lighter;
        font-size: 0.8em;
        border-top: none;
        border-left: none;
      }
    }

    & tbody > tr {
      & .event {
        cursor: pointer;
        position: absolute;
        width: 70px;
        height: 60px;
        display: block;
        border-radius: $event-border-radius;
        opacity: .9;
        transition: background .3s ease .0s;
        overflow: hidden;
        & div {
          font-size: x-small;
          color: #000;
        }
        &.cutTop {
          border-radius: 0 0 $event-border-radius $event-border-radius;
          border-top: none;
        }
        &.cutBottom {
          border-radius: $event-border-radius $event-border-radius 0 0;
          border-bottom: none;
        }
        &.cutTopAndBottom {
          border-radius: 0 0 0 0;
          border-top: none;
          border-bottom: none;
        }

        &.oh {
          &:hover {
            background: #cbcbcb;
            border: 1px solid #a8a8a8;
          }
          background: #eeeeee;
          border: 1px solid #cbcbcb;
        }
        &.booking {
          &:hover {
            background: #5cc161;
            border: 1px solid #4f9e4f;
          }
          background: #63e468;
          border: 1px solid #5cc161;
        }
        &.shift {
          &:hover {
            background: #326934;
            border: 1px solid #214621;
          }
          background: #3d8c40;
          border: 1px solid #326934;
          & div {
            color: #fff;
          }
        }
      }

      & > td {
        border: 1px solid $border-color-grey;
        font-weight: normal;
        font-size: small;
        vertical-align: top;
        height: 15px;

        &:first-child {
          padding: 4px 6px;
          font-weight: lighter;
          text-align: right;
          width: $first-column-fixed-width;
        }
      }

      &.first-half-hour > td {
        border-bottom-style: dotted;
      }

      &.second-half-hour > td {
        border-top-style: dotted;
      }
    }
  }
}